{% extends "blog/base.html" %}
{% load static %}



{%block title%}  Zaro's website {% endblock %}


{% block css_files %}
<link rel="stylesheet" href="{%static "styles/base.css"%}">
<link rel="stylesheet" href="{%static "styles/acceuil.css"%}">
{% endblock %}


{%block content%} 


<main class="main-part">


   <div class="accueuilEcran"> 

            <div class="bienvenu">
                <h1>Zaro's Website</h1>
                <p>As a continuous learner, I created this space to showcase the various projects I've been working on. The topics I explore are diverse, reflecting the different fields I've studied throughout my academic journey.
                     Some projects are related to biology, others touch on economics, and many involve statistics and data analysis.</p>


                    <p>I'm open-minded and driven by a strong desire to keep learning and improving. I warmly invite you to explore my work — and please don’t
                         hesitate to share your thoughts or offer suggestions under each project. Your feedback is always appreciated!</p>


            

                <div class="btn">
                    <a href="{% url "comment" %}" class="btn-link"> Contact </a>
                </div>
                        
            </div>
            <div class="zaro_image">
                <img src="{% static "images/zaro3.png" %}" alt="zaro 's image"/>
            </div>

   </div>



    <div class="accueuilMobile"> 

    

        <div class="bienvenu">
            <div class="zaro_image">
                <img src="{% static "images/zaro1.jpg" %}" alt="zaro 's image"/>
            </div>
            <h1>Zaro's Website</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore aliquid dolores laudantium repellendus aperiam
                possimus inventore, sequi magni odio rerum eum, magnam sed eos facilis odit 
                voluptatibus! Tempore, corporis minima!</p>


                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore aliquid dolores laudantium repellendus aperiam
                    possimus inventore, sequi magni odio rerum eum, magnam sed eos facilis odit 
                    voluptatibus! Tempore, corporis minima!</p>


                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore aliquid dolores laudantium repellendus aperiam
                        possimus inventore, sequi magni odio rerum eum, magnam sed eos facilis odit 
                        voluptatibus! Tempore, corporis minima!</p>

            <div class="btn">
                <a href="{% url "comment" %}" class="btn-link"> Contact </a>
            </div>
                    
        </div>
    



    </div>
    


</main>


{% endblock %}