{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {%block title%} Zaro's Website  {%endblock%}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    {% block css_files %}

    <link rel="stylesheet" href="{%static "styles/base.css"%}">
    {% endblock  %}

</head>
<body>
    <nav class= "navbar">
        <ul class= "all-items">
            <li class="items"><a href="{% url "acceuil" %}">Home</a></li>
            <li class="empty"></li>
            <li class="items"><a href="{% url "theses" %}">Theses</a></li>
            <li class="items"> <a href="{% url "projects" %}">Projects</a></li>
        </ul>
   
    </nav>

    {%block content%}

  


    {% endblock %}


    <footer id="foot">
        <div class="foot-contents">
            <ul>
                <li><a href="">Copyright</a></li>
                <li><a href="https://www.linkedin.com/in/zaro-ilorsaint-547209121/" target= "_blank">Linkedin</a></li>
              <li><a  href="{% url "comment" %}">Contact</a></li>
            </ul>
        </div>
        <p>This site is currently under development. The content will be improved over time. Your suggestions and comments are welcome—please share them by filling out  this  <a href="{% url "comment" %}">contact form</a>.</p>
    </footer>
    
</body>
</html>